spring:
  application:
    name: SHIFT-MICROSERVICE
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://junction.proxy.rlwy.net:26784/ShiftDB?createDatabaseIfNotExist=true
    username: root
    password: PzIOmLnynQcfvUROXZBsJnfnsJRolAWG

server:
  port: 9090

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}